#header-nav {
	border: 0;
	background-color: #898080;
	
}

.navbar-brand a span{
	color: #000000;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -20px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}

li {
	border: 1px solid black;
	background-color: #FFFFFF;
	
}

.itemMenu {
	height: 1000px;
	border: 1px solid black;
	background-color: gray;
	text-align: center;
	position: relative;
	margin-bottom: 30px;

}


